
.navbar {
    width: 100%;
    height: 100px;
    background-color:white;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.logoContainer{
    width: 10%;
    height: 100px;
    background-color:white;  

}
.logoContainer img{
    height: 90%;
}
.navbarContainer {
    width:90%;
    height: 100px;
    background-color: white;
}
#topContainer {
    background-color:rgb(13, 122, 239);
    width: 100%;
    height: 50%;
    font-weight: 500;
}
#topContainer a {
    color: white;
    text-decoration: none;
    line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;

}
#topContainer a:hover {
    background-color: rgb(5, 146, 240);
}
.bottomContainer {
    background-color: white;
    width: 100%;
    height: 50%;
}
.bottomContainer a {
    text-decoration: none;
    line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}
.bottomContainer a:hover {
    background-color: rgb(212, 199, 199);
}
